{% extends 'app/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/enrollment/enrollment_list.css' %}">
{% endblock %}

{% block content %}
<h2 class="blue">Enrollment List</h2>
<div class="enroll-button-container">
    <a href="/enrollments/create/" class="btn-enroll">➕ Enroll Student</a>
</div>

<ul id="enrollment-list">
    <!-- JS will populate this -->
</ul>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/enrollment/enrollment_list.js' %}"></script>
{% endblock %}
